<template>
  <v-container>
    <v-card class="mb-3" v-for="(product,idx) in products" v-bind:key="idx">
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-container>
              <v-layout row wrap text-xs-center align-center justify-center>
                <v-flex xs3>
                  <v-img contain :src="`${$apiUrl}${product.image}`" v-if="product.image"></v-img>
                </v-flex>
                <v-flex xs7>
                  <h2>{{product.productName}}</h2>
                </v-flex>
                <v-flex xs2>
                  <h2>{{product.price}}원</h2>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UploadButton from "@components/base/UploadButton.vue";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/product/constants";
import { IProduct } from "@store/modules/product/types";

@Component({
  components: {
    UploadButton
  }
})
export default class Products extends Vue {
  @State(state => state.product.products)
  products!: IProduct[];

  @Action(ACTIONS.INIT_PRODUCTS, { namespace: NAME })
  initProducts!: Function;

  async created() {
    const products = await this.$strapi.request("GET", "/seller/products");

    this.initProducts(products);
  }
}
</script>
