<template>
  <v-form @submit.prevent="post">
    <v-container>
      <v-layout wrap row>
        <v-flex xs12>
          <h2>제품이름</h2>
          <v-text-field v-model="productName"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <h2>가격</h2>
          <v-text-field v-model="price"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <h2>제품사진</h2>
          <v-img height="200px" contain :src="`${$apiUrl}${image}`" v-if="imgShow" />
          <UploadButton successMessage="이미지 이미지찾기" emptyMessage="이미지 이미지찾기" @change="change" />
        </v-flex>
        <v-flex xs12>
          <v-btn color="primary" type="submit">저장</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UploadButton from "@components/base/UploadButton.vue";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/product/constants";
import { IProduct } from "@store/modules/product/types";

@Component({
  components: {
    UploadButton
  }
})
export default class Put extends Vue {
  productName = "";
  _id = "";
  price = 0;
  image = "";

  imgShow = false;

  async change(file: any) {
    const form = new FormData();
    form.append("files", file, file.name);
    const files = <[any]>await this.$strapi.upload(form);
    this.image = `/uploads/${files[0].hash}${files[0].ext}`;
    this.imgShow = false;

    this.imgShow = true;
  }

  @Action(ACTIONS.ADD_PRODUCT, { namespace: NAME })
  addProduct!: Function;

  async post() {
    const { productName, image, price } = this;

    this.$strapi.request("POST", "/seller/products", {
      data: {
        productName,
        image,
        price
      }
    });

    this.addProduct([{ productName, image, price }]);
  }
}
</script>
