<template>
  <dashboard-card
    :title="title"
    :subTitle="getFormatingBalance"
    :icons="icons"
    @icon-click="onIconClick"
  >
    <v-icon class="fas fa-wallet" dark="dark" slot="img"></v-icon>
  </dashboard-card>
</template>


<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@store/modules/ethereum";
import { mapGetters, mapState, mapActions } from "vuex";
import DashboardCard from "@/layouts/dashboard/components/Card.vue";
import { Action, State, Getter } from "vuex-class";
import { Vue, Component } from "vue-property-decorator";
import { constants as DASHBOARD } from "@store/modules/dashboard";

@Component({
  components: {
    DashboardCard
  }
})
export default class CardBalance extends Vue {
  title = "잔고";
  imgUrl = "https://cdn.vuetifyjs.com/images/cards/house.jpg";
  icons = [{ name: "sync", class: "fas fa-sync" }];

  @State(state => state.ethereum.balance) balance!: string | number;

  @Getter(ETHEREUM.GETTERS.GET_SYMBOL_BALANCE, { namespace: ETHEREUM.NAME })
  getFormatingBalance!: string;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refreshBalance!: Function;

  @Action(DASHBOARD.ACTIONS.SET_ON_SNACKBAR, { namespace: DASHBOARD.NAME })
  setOnSackbar!: Function;

  async onIconClick(index: number) {
    try {
      if (index === 0) {
        await this.refreshBalance();
        this.setOnSackbar({
          visible: true,
          message: "refresh"
        });
      }
    } catch (err) {
      alert(err);
      this.setOnSackbar({
        visible: true,
        message: err
      });
    }
  }
  async created() {
    await this.refreshBalance();
  }
}
</script>
