<template>
  <dashboard-card :title="title" :subTitle="walletAddress" :icons="icons" @icon-click="onIconClick">
    <img slot="img" :src="imgUrl">
  </dashboard-card>
</template>


<script lang="ts">
import DashboardCard from "@/layouts/dashboard/components/Card.vue";
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({
  components: {
    DashboardCard
  }
})
export default class CardWallet extends Vue {
  title = "지갑";
  imgUrl = "https://cdn.vuetifyjs.com/images/cards/house.jpg";
  icons = [
    { name: "qrcode", class: "fas fa-qrcode" },
    { name: "copy", class: "far fa-copy" }
  ];

  @Prop() private onDialog!: Function;

  @Prop({ default: "" }) private walletAddress?: string;

  onIconClick(index: number) {
    if (index === 0) {
      this.onDialog();
    } else if (index === 1) {
      this.$emit("wallet-copy");
    }
  }
}
</script>
