<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant="mini"
    :mobile-break-point="1024"
    fixed="fixed"
    dark="dark"
    clipped="clipped"
    app="app"
    width="260"
  >
    <v-list class="pa-1">
      <v-list-tile v-if="mini" @click.stop="mini = !mini">
        <v-list-tile-action>
          <v-icon>chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile avatar="avatar" tag="div">
        <v-list-tile-avatar v-if="imageUrl">
          <img :src="imageUrl">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{username}}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-btn icon="icon" @click.stop="mini = !mini">
            <v-icon>chevron_left</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
    <v-list class="pt-0" dense>
      <v-divider light></v-divider>
      <v-list-tile v-for="item in items" :key="item.title" :to="item.to" dark="dark">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "dashboard-drawer",
  data: function() {
    return {
      mini: this.miniable,
      right: null
    };
  },
  props: {
    imageUrl: String,
    username: String,
    /* 
            {
                title: {
                    type: String
                },
                icon: {
                    type: String
                },
                to: {
                    type: String
                }
            }
         */
    items: Array,
    visible: {
      type: Boolean,
      default: true
    },
    miniable: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    drawer: {
      get() {
        return this.visible;
      },
      set(val) {
        if (val !== this.visible) {
          this.$emit("visible-changed");
        }
      }
    }
  }
};
</script>
