<template lang="pug">
<v-toolbar clipped-left="clipped-left" flat="flat">
    <v-toolbar-side-icon v-if="sidebarVisible" @click="onSidebarClick"></v-toolbar-side-icon><span class="title ml-3 mr-5"><span class="font-weight-light">{{title}}</span></span>
    <v-spacer/>
    <slot>
    </slot>
</v-toolbar>
</template>


<script>
export default {
  name: "dashboard-toolbar",
  data: () => ({
    sidebarVisible: true
  }),
  props: {
    title: String
  },
  methods: {
    onSidebarClick: function() {
      this.$emit("event-sidebar-click");
    },
    onWindowResized: function() {
      if (window.innerWidth < 1024) {
        this.sidebarVisible = true;
      } else {
        this.sidebarVisible = false;
      }
    }
  },
  mounted() {
    window.addEventListener("resize", this.onWindowResized);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onWindowResized);
  }
};
</script>