<template>
  <v-form>
    <v-layout wrap="wrap" row="row">
      <v-flex xs12="xs12">
        <v-container>
          <v-layout column="column">
            <h2>기능</h2>
            <v-select :items="functions" solo="solo" v-model="select" v-on:change="selectChage">
              <template slot="selection" slot-scope="data">{{data.item.title}}</template>
              <template slot="item" slot-scope="data">{{data.item.title}}</template>
            </v-select>
          </v-layout>
        </v-container>
        <template v-if="abi">
          <v-flex v-for="(input,index) in abi.inputs" :key="input.name" xs12="xs12">
            <v-container>
              <v-layout column="column">
                <h2>{{input.name}}</h2>
                <v-text-field
                  solo="solo"
                  color="blue-grey lighten-2"
                  v-bind:placeholder="input.type"
                  v-model="inputs[index]"
                ></v-text-field>
              </v-layout>
            </v-container>
          </v-flex>
        </template>
        <v-flex xs12="xs12">
          <v-container text-xs-center="text-xs-center" fluid="fluid">
            <v-btn large="large" color="info" @click="sendButtonClick">트랜젝션 발신</v-btn>
          </v-container>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { Vue, Component } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import { Contract } from "web3-eth-contract/types";
import { AbiReader, Abi } from "@util/AbiReader";
import { constants as DASHBOARD } from "@store/modules/dashboard";

@Component
export default class Add extends Vue {
  functions = [
    {
      name: "burn",
      title: "소각하기"
    }
  ];
  balance = "0";
  select = this.functions[0];
  inputs: Array<string> = [];
  abi: Abi | undefined;

  @State(state => state.ethereum.contract)
  contract!: Contract;

  @State(state => state.ethereum.abiReader)
  abiReader!: AbiReader;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refreshBalance!: Function;

  @Action(ETHEREUM.ACTIONS.SEND_TRANSACTION, { namespace: ETHEREUM.NAME })
  sendTransaction!: Function;

  @Action(ETHEREUM.ACTIONS.SET_IS_CONTRACT, { namespace: ETHEREUM.NAME })
  setIsContract!: Function;

  @Action(DASHBOARD.ACTIONS.SET_ON_SNACKBAR, { namespace: DASHBOARD.NAME })
  setOnSackbar!: Function;

  async sendButtonClick() {
    try {
      const result = await this.sendTransaction({
        name: this.select.name,
        inputs: this.inputs
      });

      this.setOnSackbar({
        visible: true,
        message: "success"
      });
    } catch (err) {
      alert(err);
    }
  }

  selectChage() {
    this.abi = this.abiReader.find(this.select.name);

    if (!this.abi) return;

    this.inputs = new Array(this.abi.inputs.length);
  }

  async created() {
    this.selectChage();
    await this.setIsContract(true);
    await this.refreshBalance();
  }
}
</script>
