<template>
  <dashboard>
    <dashboard-filter slot="filter" />
    <dashboard-toolbar slot="toolbar" />
    <dashboard-drawer slot="drawer" />
    <dashboard-view slot="view" />
  </dashboard>
</template>

<script lang="ts">
import Layout from "@layouts/dashboard/Layout.vue";
import Filter from "../layouts/dashboard/Filter.vue";
import Drawer from "../components/dashboard/Drawer.vue";
import Toolbar from "../components/dashboard/Toolbar.vue";
import View from "../components/dashboard/View.vue";
import { constants as ETHEREUM } from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { Vue, Component } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import Web3 from "web3";
import ERC20Ext from "@assets/ERC20Ext.json";
import { AbiReader } from "../util/AbiReader";

const erc20ext: any = ERC20Ext;

@Component({
  components: {
    dashboard: Layout,
    "dashboard-filter": Filter,
    "dashboard-drawer": Drawer,
    "dashboard-toolbar": Toolbar,
    "dashboard-view": View
  }
})
export default class Dashboard extends Vue {
  @State(state => state.ethereum.web3)
  web3!: Web3;

  @State(state => state.ethereum.networkId)
  networkId!: number;

  @State(state => state.ethereum.abis)
  abis!: AbiReader;

  @Action(ETHEREUM.ACTIONS.SET_CONTRACT, { namespace: ETHEREUM.NAME })
  setContract!: Function;

  @Action(ETHEREUM.ACTIONS.SET_ABI_READER, { namespace: ETHEREUM.NAME })
  setAbiReader!: Function;

  @Action(ETHEREUM.ACTIONS.SET_CONTRACT_NAME, { namespace: ETHEREUM.NAME })
  setContractName!: Function;

  async created() {
    if (!this.web3) {
      return this.$router.push("/");
    }
  }
}
</script>