<template lang="pug">
v-app
    v-content
      v-container(fluid fill-height)
        v-layout(align-center, justify-center)
          v-flex(xs12 sm8 md4)
            
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>

</style>
