<template>
  <div>
    <v-btn @click="$refs.inputUpload.click()">{{message}}</v-btn>
    <input v-show="false" ref="inputUpload" type="file" @change="upload" />
  </div>
</template>


<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import _ from "lodash";

@Component
export default class UploadButton extends Vue {
  @Prop([String])
  successMessage!: string;

  @Prop([String])
  emptyMessage!: string;

  @Prop([Boolean])
  status!: boolean;

  @Prop([Number])
  index!: number;

  message = "";

  upload(e: any) {
    if (!_.isNumber(this.index)) {
      this.$emit("change", e.target.files[0]);
    } else {
      this.$emit("change", { file: e.target.files[0], index: this.index });
    }
    this.message = this.successMessage;
  }

  created() {
    this.message = this.status ? this.successMessage : this.emptyMessage;
  }
}
</script>