<template>
  <div>
    <Put />
    <Products />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Put from "./product/Put.vue";
import Products from "./product/Products.vue";

@Component({
  components: {
    Put,
    Products
  }
})
export default class ProductsClass extends Vue {}
</script>
