<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <Carts />
      </v-flex>
      <v-flex xs12 md6>
        <Products />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Products from "./trade/Products.vue";
import Carts from "./trade/Carts.vue";

@Component({
  components: {
    Products,
    Carts
  }
})
export default class Trade extends Vue {}
</script>
