<template>
  <v-expansion-panel>
    <v-expansion-panel-content>
      <template v-slot:header>
        <v-container>
          <v-layout row wrap>
            <v-flex xs6>일반거래</v-flex>
            <v-flex xs6 text-xs-right class="red--text">환불</v-flex>
            <v-flex xs6>09/22 15:60</v-flex>
            <v-flex xs6 text-xs-right class="red--text">{{totalPrice}}원</v-flex>
          </v-layout>
        </v-container>
      </template>
      <v-container>
        <v-data-table :headers="headers" :items="carts" class="elevation-1" hide-actions>
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <span v-on="on">{{ props.header.text }}</span>
              </template>
              <span>{{ props.header.text }}</span>
            </v-tooltip>
          </template>
          <template v-slot:items="props">
            <td>{{ props.item.product.productName }}</td>
            <td class="text-xs-right">{{ props.item.product.price }}</td>
            <td class="text-xs-right">{{ props.item.quantity }}</td>
            <td class="text-xs-right">{{ props.item.quantity*props.item.product.price}}</td>
          </template>
        </v-data-table>
        <v-card>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile>
              <v-list-tile-content>합액계:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{totalPrice}}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>환불금:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{totalEther}}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-container>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <template v-slot:header>
        <v-container>
          <v-layout row wrap>
            <v-flex xs6>일반거래</v-flex>
            <v-flex xs6 text-xs-right class="green--text">결제</v-flex>
            <v-flex xs6>09/22 15:28</v-flex>
            <v-flex xs6 text-xs-right>{{totalPrice}}원</v-flex>
          </v-layout>
        </v-container>
      </template>
      <v-container>
        <v-data-table :headers="headers" :items="carts" class="elevation-1" hide-actions>
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <span v-on="on">{{ props.header.text }}</span>
              </template>
              <span>{{ props.header.text }}</span>
            </v-tooltip>
          </template>
          <template v-slot:items="props">
            <td>{{ props.item.product.productName }}</td>
            <td class="text-xs-right">{{ props.item.product.price }}</td>
            <td class="text-xs-right">{{ props.item.quantity }}</td>
            <td class="text-xs-right">{{ props.item.quantity*props.item.product.price}}</td>
          </template>
        </v-data-table>
        <v-card>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile>
              <v-list-tile-content>합액계:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{totalPrice}}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>결제액:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{totalEther}}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-container>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <template v-slot:header>
        <v-container>
          <v-layout row wrap>
            <v-flex xs6>일반거래</v-flex>
            <v-flex xs6 text-xs-right class="green--text">결제</v-flex>
            <v-flex xs6>09/22 15:26</v-flex>
            <v-flex xs6 text-xs-right>4000원</v-flex>
          </v-layout>
        </v-container>
      </template>
      <v-container></v-container>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <template v-slot:header>
        <v-container>
          <v-layout row wrap>
            <v-flex xs6>일반거래</v-flex>
            <v-flex xs6 text-xs-right class="green--text">결제</v-flex>
            <v-flex xs6>09/22 15:23</v-flex>
            <v-flex xs6 text-xs-right>3500원</v-flex>
          </v-layout>
        </v-container>
      </template>
      <v-container></v-container>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import _ from "lodash";

@Component
export default class TradeLogs extends Vue {
  headers = [
    {
      text: "품명",
      align: "left",
      sortable: false,
      value: "name"
    },
    { text: "단가", value: "calories", align: "right", sortable: false },
    { text: "수량", value: "fat", align: "right", sortable: false },
    { text: "금액", value: "totalPrice", align: "right", sortable: false }
  ];
  get totalPrice() {
    return _.sum(
      _.map(this.carts, o => {
        return o.quantity * o.product.price;
      })
    );
  }
  totalEther = 0.4235123212;

  carts = [
    {
      product: {
        productName: "사과",
        price: 12000
      },
      quantity: 5
    },
    {
      product: {
        productName: "바나나",
        price: 1000
      },
      quantity: 10
    }
  ];
}
</script>
