<template>
  <DashboardDraw
    :items="items"
    :username="name"
    :visible="drawerVisible"
    @visible-changed="drawerVisibleChange"
  ></DashboardDraw>
</template>


<script lang="ts">
import DashboardDraw from "@layouts/dashboard/Drawer.vue";
import { mapState, mapActions } from "vuex";
import {
  constants as DASHBOARD,
  IDashboardState
} from "@store/modules/dashboard";
import { Vue, Component } from "vue-property-decorator";
import { Action, State } from "vuex-class";

const { ACTIONS } = DASHBOARD;

@Component({
  components: {
    DashboardDraw
  }
})
export default class Drawer extends Vue {
  items = [
    { title: "발신", icon: "swap_horiz", to: "/dashboard/send" },
    { title: "물품등록", icon: "dashboard", to: "/dashboard/products" },
    { title: "결제", icon: "dashboard", to: "/dashboard/trade" },
    { title: "결제내역", icon: "dashboard", to: "/dashboard/tradelogs" },
    { title: "로그아웃", icon: "dashboard", to: "/logout" }
  ];
  //imageUrl = "https://randomuser.me/api/portraits/men/85.jpg";
  name = "admin";

  @State(state => state.dashboard.drawerVisible)
  drawerVisible!: boolean;

  @Action(DASHBOARD.ACTIONS.DRAWER_VISIBLE_CHANGE, {
    namespace: DASHBOARD.NAME
  })
  drawerVisibleChange!: Function;
}
</script>
