<template>
  <div>
    <v-form @submit.prevent="doPay">
      <v-data-table :headers="headers" :items="carts" class="elevation-1" hide-actions>
        <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span v-on="on">{{ props.header.text }}</span>
            </template>
            <span>{{ props.header.text }}</span>
          </v-tooltip>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.product.productName }}</td>
          <td class="text-xs-right">{{ props.item.product.price }}</td>
          <td class="text-xs-right">{{ props.item.quantity }}</td>
          <td class="text-xs-right">{{ props.item.quantity*props.item.product.price}}</td>
        </template>
      </v-data-table>
      <v-card>
        <v-divider></v-divider>
        <v-list dense>
          <v-list-tile>
            <v-list-tile-content>합계:</v-list-tile-content>
            <v-list-tile-content class="align-end">{{totalPrice}}</v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>예상이더금액:</v-list-tile-content>
            <v-list-tile-content class="align-end">{{totalEther}}</v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-btn block type="submit">결제</v-btn>
    </v-form>
    <v-dialog v-model="dialog" width="50%">
      <v-card>
        <v-card-title class="grey lighten-2" headline="headline">
          <h2>Pay</h2>
        </v-card-title>
        <v-container text-xs-center="text-xs-center" fluid="fluid">
          <qrcode-vue id="qrcode-vue" :value="url" size="200" level="H"></qrcode-vue>
          <v-card-text>{{url}}</v-card-text>
          <!-- <v-btn color="primary" flat="flat" @click="walletCopyToClipboard">Copy</v-btn> -->
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import UploadButton from "@components/base/UploadButton.vue";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/product/constants";
import { IProduct, Product } from "@store/modules/product/types";
import QrcodeVue from "qrcode.vue";
import _ from "lodash";
import axios from "axios";

class Cart {
  product: IProduct = new Product();
  quantity: number = 1;

  constructor(obj?: Cart | Product) {
    if (obj instanceof Cart) {
      this.product = obj.product;
      this.quantity = obj.quantity;
    } else if (obj instanceof Product) {
      this.product = obj;
      this.quantity = 1;
    }
  }
}
@Component({
  components: {
    UploadButton,
    QrcodeVue
  }
})
export default class Carts extends Vue {
  carts: Cart[] = [];
  totalEther = 0;
  dialog = false;
  url = "";

  get totalPrice() {
    return _.sum(
      _.map(this.carts, o => {
        return o.quantity * o.product.price;
      })
    );
  }

  async doPay() {
    const res = await this.$strapi.request("POST", "/seller/trades", {
      data: {
        carts: this.carts
      }
    });

    console.log(res);

    this.url = `${this.$apiUrl}/pay/${res._id}`;
    this.dialog = true;
  }

  async addCart(product: Product) {
    const idx = _.findIndex(this.carts, o => {
      return o.product._id === product._id;
    });
    if (idx === -1) {
      this.carts.push(new Cart(product));
    } else {
      this.carts[idx].quantity++;
    }

    console.log(axios);

    const data = await this.$strapi.request("GET", "/trades/etherprice");

    this.totalEther =
      (Math.floor(10 ** 18 / data.trade_price) * this.totalPrice) / 10 ** 18;
  }
  created() {
    this.$eventBus.$on("addCart", this.addCart);
  }
  headers = [
    {
      text: "품명",
      align: "left",
      sortable: false,
      value: "name"
    },
    { text: "단가", value: "calories", align: "right", sortable: false },
    { text: "수량", value: "fat", align: "right", sortable: false },
    { text: "금액", value: "totalPrice", align: "right", sortable: false }
  ];
}
</script>
