<template>
  <v-container>
    <v-layout wrap row>
      <v-flex xs4 v-for="(product,idx) in products" v-bind:key="idx">
        <v-btn color="primary" block @click="addCart(idx)">{{product.productName}}</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UploadButton from "@components/base/UploadButton.vue";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/product/constants";
import { IProduct } from "@store/modules/product/types";

@Component({
  components: {
    UploadButton
  }
})
export default class Products extends Vue {
  @State(state => state.product.products)
  products!: IProduct[];

  @Action(ACTIONS.INIT_PRODUCTS, { namespace: NAME })
  initProducts!: Function;

  async created() {
    const products = await this.$strapi.request("GET", "/seller/products");

    this.initProducts(products);
  }

  addCart(idx: number) {
    this.$eventBus.$emit("addCart", this.products[idx]);
  }
}
</script>
